.container{
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    flex-direction: column;
}
h1 {
    font-size: 4rem;
    margin-bottom: 40px;
}
input#email {
    width: 40%;
}
input#password {
    width: 40%;
}
input.btn.btn-primary.right {
    width: fit-content;
    font-size: 2rem;
    margin: 10px;
}